@import url("reset.css");
@import url("layout.css");
@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,600,700,400italic&v2);

/* -------------------------------------
/*  html, body
/* -------------------------------------*/
html {
	background: url(images/background-gradient.png) repeat-x #82B4C4;
	padding-bottom:25px;
}	
body {
	font-family: 'Open Sans', "Helvetica Neue", Helvetica, Arial, Verdana, sans-serif;
	font-size: 16px;
	line-height: 24px;
	text-align: left;
	margin: 10px;
	width: 860px;
	margin: auto;
	position: ;
}
h1 {
	font-size: 26px;
	color: #2B5E72;
	margin: 10px 0;
	font-weight: 600;
}
h2 {
	font-size: 24px;
}
h3 {
	font-size: 22px;
}
h4 {
	font-size: 18px;
}
h5 {
	font-size: 16px;
}
h6 {
	font-size: 14px;
}
#main p {
	font-size: 14px;
	line-height: 20px;
	margin-bottom: 12px;
	font-family: 'Open Sans', sans-serif;
}
#main p a {
	text-decoration: none;
	border-bottom: 1px dashed;
}
h2.heading {
	border-bottom:2px solid #2b5e72;
	font-size: 18px;
	font-weight: 600;
}
a , a:active, a:visited {
	color:#466266;
}
/* -------------------------------------
/*  Footer
/* -------------------------------------*/
footer p#footer-bar {
	padding:6px;
	background:#2b5e72;
	color:#eee;
	text-align: center;
	font-size:12px;
}
footer p#footer-bar a {
	color:#eee;
}
/* -------------------------------------
/*  header
/* -------------------------------------*/

header {
	margin-top: 12px;
	margin-bottom: 10px;
}
header h1 {
	margin: 10px 0 0 25px;
	float: left;
}
header#logo { width: 158px; }

/* -------------------------------------
/*  navigation
/* -------------------------------------*/
nav#top {
	width:630px;
	float:right;
	margin:58px 8px 0 0;
	padding:0;
	border-top:1px solid #91B6C2;
	border-bottom:1px solid #91B6C2;
	text-transform: uppercase;
}
nav#top li a {
	padding: 8px 0;
	display: inline;
	text-decoration: none;
	float: left;
	font-size: 14px;
	font-weight: 600;
	line-height: 1em;
	text-shadow: 0 1px 3px rgba(255,255,255,0.50);
	-webkit-transition: background 0.15s linear;
	width:20%;
	text-align: center;
	color:#2b5e72;
}

nav#top li.active a {
	font-weight: bold;
}

nav#sub {
	width:100%;
	border-bottom:1px solid #5a8f9e;
	border-top:1px solid #eee;
	background:url(images/nav-bg.png) repeat;
	position:absolute;
	bottom:0;
}
nav#sub li a {
	color:#fff;
	text-decoration: none;
	padding: 8px 0 8px 0;
	display: inline;
	float: left;
	font-size: 14px;
	font-weight: bold;
	line-height: 1em;
	text-shadow: 0 1px 3px rgba(0,0,0,0.5);
	-webkit-transition: background 0.15s linear;
	width:20%;
	text-align: center;
}
nav#sub li a {
	color:#fff;
}

nav#top a:hover,
nav#top a:focus {
	color: #113a4b;
	text-decoration: none;
	outline: none;
	background: #b3cfd8;
}
nav#sub a:hover,
nav#sub a:focus {
	color: white;
	outline: none;
	background:url(images/nav-bg.png) repeat;
}

/* -------------------------------------
/*  content
/* -------------------------------------*/
.rounded {
	-webkit-border-top-left-radius:12px;	/* Safari */
	-webkit-border-top-right-radius:12px;	/* Safari */
	-moz-border-radius-topleft:12px;	/* Firefox */
	-moz-border-radius-topright:12px;	/* Firefox */
	border-top-left-radius:12px;		/* CSS3 */
	border-top-right-radius:12px;		/* CSS3 */
}
div#main {
	position: relative;
	-moz-box-shadow:0 1px 3px rgba(0, 0, 0, 0.25);
	-webkit-box-shadow:0 1px 3px rgba(0, 0, 0, 0.25);
}
div#content {
	padding:25px;
	background: #fff;
	padding-top:16px;
}
div#content-sub {
	background: #fff;
}
p#copyright {
	font-size: 12px;
	margin-top:10px;
	text-align: center;
}
#main p.view_more {
	border-bottom:1px solid #DDDDDD;
	border-top:1px solid #DDDDDD;
	font-size:10px;
	font-weight:bold;
	padding:2px 0;
	text-align:right;
	text-transform:uppercase;
}
#main p.view_more a {
	border-bottom: none;
}
div#col-left {
	float:left;
	width:72%;
	margin-right:25px;
}
div#col-right {
	float:right;
	width:200px;
}
div#page-data {
	float:right;
	line-height:1.5em;
	padding:1em 36px 24px;
	width:600px;
}
#sb_sdw {
	background:url("images/sidebar_shadow.png") no-repeat scroll 0 0 transparent;
	height:630px;
	left:168px;
	position:absolute;
	top:0;
	width:20px;
	z-index:5;
}
div#section-head {
	width:672px;
	float:left;
}
div#section-head-img {
	height:190px;
	-webkit-border-top-right-radius:12px;	/* Safari */
	-moz-border-radius-topright:12px;	/* Firefox */
	border-top-right-radius:12px;		/* CSS3 */
}
/* -------------------------------------
/*  HOME PAGE BAP
/* -------------------------------------*/
div#bap {
	position:relative;
	height: 375px;
}
/* -------------------------------------
/*  HOME PAGE NEWS
/* -------------------------------------*/
div#news-wrap {
	margin-left:0;
	width:62%;
	float:left;
}
ul#news {
	margin-left:0;
	list-style-type: none;
}
ul#news li {
	margin-top:8px;
}
ul#news li img.thumb {
	float:left;
	border:solid 1px #ccc;
	padding:3px;
	margin-right:6px;
	width:75px;
}
ul#news li .title {
	float:left;
	font-weight:bold;
	font-size:12px;
}
ul#news li .date {
	float:right;
	color:grey;
	font-size:12px;
}
ul#news li hr {
	clear: right;
	margin-bottom: 4px;
}
ul#news li p {
	clear: right;
	font-size: 13px;
}
/* -------------------------------------
/*  LATEST HEADLINE
/* -------------------------------------*/
div#latest-headline {
	margin-left:0;
	float:left;
	padding-bottom:10px;
}
div#latest-headline img.thumb {
	float:left;
	border:solid 1px #ccc;
	padding:3px;
	margin-right:6px;
	width:100px;
}
div#latest-headline .title {
	font-weight:bold;
	font-size:16px;
}
div#latest-headline .date {
	float:right;
	color:grey;
	font-size:12px;
}
div#latest-headline hr {
	clear:right;
	margin-bottom:0;
	margin-top:0;
}
div#latest-headline .text {
	clear:right;
	font-size:12px;
}


/* -------------------------------------
/*  UPCOMING EVENTS
/* -------------------------------------*/
ul#event_feed {
	list-style-type: none;
	margin-left:0;
	margin-top:8px;
}
ul#event_feed li p {
	display: block;
	padding-left: 7px;
	float: left; width: 120px;
	border-left: 1px solid #ABB8C6;
	margin-bottom: 0;
	font-size: 13px;
}
ul#event_feed li {
	line-height: 12px;
	margin-bottom: 8px;
}
ul#event_feed li h3 {
	float: left;
	padding: 0 8px 0 10px;
	text-align: center;
	width: 25px;
}
ul#event_feed .event_month {
	font-size: 11px;
	display: block;
	color: #35567C;
	text-transform: uppercase;
}
ul#event_feed .event_day {
	font-weight: bold;
	font-size: 16px;
	display: block;
	padding-top: 3px;
}
div#events {
	width:33%;
	float:left;
	clear:both;
	margin-right:25px;
}
/* -------------------------------------
/*  QUICK LINKS
/* -------------------------------------*/
div#quick-links {
	float:left;
	width:100%;
}
div#quick-links ul {
	margin-left:25px;
}
div#quick-links li {
	text-decoration: none;
	border-bottom:dotted 1px #ccc;
	padding-bottom:2px;
	color:#999;
}
div#quick-links li a {
	text-decoration: none;
}
/* -------------------------------------
/*  Icon Links
/* -------------------------------------*/
div#icon-links {
	margin-top:25px;
	float:left;
	width:100%;
	text-align:center;
}
div#icon-links img{
	margin:auto;
}
/* -------------------------------------
/*  Sidebar
/* -------------------------------------*/
div#sidebar {
	width:188px;
	height: 630px;
	float:left;
}
div#sidebar h3 {
	-webkit-border-top-left-radius:12px;	/* Safari */
	-moz-border-radius-topleft:12px;	/* Firefox */
	border-top-left-radius:12px;		/* CSS3 */
	background:none repeat scroll 0 0 #2b5e72;
	color:white;
	font-size:14px;
	font-weight: 600;
	padding:24px 0 0 16px;
	text-shadow:0 -1px 1px rgba(0, 0, 0, 0.25);
	text-transform:uppercase;
}
div#sidebar h3 a {
	color:white;
	text-decoration: none;
}
div#sidebar ul {
	list-style-type: none;
	margin-left:0;
}
div#sidebar ul a:link,
div#sidebar ul a:visited {
	border-bottom:1px solid #ABB8C6;
	display:block;
	width:172px;
	line-height:1.5em;
	padding:6px 0 6px 16px;
	-webkit-transition: background-color 0.15s linear;
	text-decoration: none;
}